.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topBox {
    width: 30vw;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: linear-gradient(
    149.46deg,
    #450af5,#8e8ee5 99.16%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-primary);
}

.title {
    font-weight: bold;
    font-size: 5vh;
}