.container {
    height: 50px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    padding: 0 3%;
}

.arrows {
    display: flex;
}

.arrow {
    width: 32px;
    height: 32px;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    background-color: #050505;
    height: 32px;
    border-radius: 16px;
    padding: 0 2px;
}

.userImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 50%;
}

.userImg i {
    font-size: 15px;
}

.userName {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 14px;
}

.userArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.userArrow i {
    font-size: 12px;
    transform: translateY(20%);
}